
<div class="contenedor-formularios">
    <div >
        <!-- Iniciar Sesion -->
        
        <div>
            <h1>Iniciar sesion</h1>
            <form [formGroup]="formularioLogin" (ngSubmit)="onLoginSubmit()">

                <div class="contenedor-input">
                    <input 
                        type="text" 
                        placeholder="Mail"
                        required
                        formControlName="mail"
                        [class.invalid-input]="formEnviado && formularioLogin.get('mail')?.invalid"
                    >
                </div>

                <div class="contenedor-input">
                    <input 
                        type="text" 
                        placeholder="Contraseña"
                        required
                        formControlName="contrasenia"
                        [class.invalid-input]="formEnviado && formularioLogin.get('contrasenia')?.invalid"
                    >
                </div>
                
                <input type="submit" class="button button-block" value="Ingresar">
            </form>
        </div>
    </div>

    
</div>
    <div class="position-acceso-buttons d-flex gradient-custom-2 text-center">
        <app-botones-login (botonUsuarios)="clickListadoUsuarios($event)"></app-botones-login>
    </div>



