.contenedor-formularios {
    background: rgba(19, 35, 47, 0.9);
    padding: 40px;
    width: 370px;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  }

  .img-perfil {
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 50%;
    border: 1px outset #000000a6;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
  }