<div *ngIf="tipoFormulario === -1">
    <div class="contenedor-formularios d-flex flex-column align-items-center text-white" (click)="cambioFormulario(0)">
        <img style="height: 15vh;" src="../../../assets/paciente.png">
    </div>
    <div class="contenedor-formularios d-flex flex-column align-items-center text-white" (click)="cambioFormulario(1)">
        <img style="height: 15vh;" src="../../../assets/medico.png">
    </div>
    <div *ngIf="Admin" class="contenedor-formularios d-flex flex-column align-items-center text-white" (click)="cambioFormulario(2)">
        <img style="height: 15vh;" src="../../../assets/admin.png">
    </div>
</div>

<div class="contenedor-formularios" *ngIf="tipoFormulario != -1">
    <!-- Links de los formularios -->
    <ul class="contenedor-tabs" *ngIf="!Admin">
        <li class="tab" [class.active]="tipoFormulario === 0"><a (click)="cambioFormulario(0)">Paciente</a></li>
        <li class="tab" [class.active]="tipoFormulario === 1"><a (click)="cambioFormulario(1)">Especialista</a></li>
    </ul>

    <ul class="contenedor-tabs" *ngIf="Admin">
        <li class="tab" [class.active]="tipoFormulario === 0"><a (click)="cambioFormulario(0)" style="width: 33%;">Paciente</a></li>
        <li class="tab" [class.active]="tipoFormulario === 1"><a (click)="cambioFormulario(1)" style="width: 33%;">Especialista</a></li>
        <li class="tab" [class.active]="tipoFormulario === 2"><a (click)="cambioFormulario(2)" style="width: 33%;">Administrador</a></li>
    </ul>

    <!-- Contenido de los Formularios -->
    <div >
        <!-- Paciente -->
        
        <div *ngIf="tipoFormulario === 0">
            <h1>Registro Paciente</h1>
            <form [formGroup]="formularioPaciente" (ngSubmit)="onPacienteSubmit()">

                <!-- NOMBRE Y APELLIDO -->
                <div class="fila-arriba">
                    <div class="contenedor-input">
                        <input 
                            type="text" 
                            placeholder="Nombre" 
                            required 
                            formControlName="nombre"
                            [class.invalid-input]="formPacienteEnviado && formularioPaciente.get('nombre')?.invalid"
                        >
                    </div>

                    <div class="contenedor-input">
                        <input 
                            type="text" 
                            placeholder="Apellido" 
                            required
                            formControlName="apellido"
                            [class.invalid-input]="formPacienteEnviado && formularioPaciente.get('apellido')?.invalid"
                        >
                    </div>
                </div>

                <!-- DNI Y Edad -->
                <div class="fila-arriba">
                    <div class="contenedor-input">
                        <input 
                            type="number" 
                            placeholder="DNI" 
                            required 
                            formControlName="dni"
                            [class.invalid-input]="formPacienteEnviado && formularioPaciente.get('dni')?.invalid"
                        >
                    </div>

                    <div class="contenedor-input">
                        <input 
                            type="number" 
                            placeholder="Edad" 
                            required
                            formControlName="edad"
                            [class.invalid-input]="formPacienteEnviado && formularioPaciente.get('edad')?.invalid"
                        >
                    </div>
                </div>

                <!-- ObraSocial -->
                <div class="contenedor-input">
                    <input 
                        type="text" 
                        placeholder="Obra Social" 
                        required
                        formControlName="obraSocial"
                        [class.invalid-input]="formPacienteEnviado && formularioPaciente.get('obraSocial')?.invalid"
                    >
                </div>

                <!-- Mail -->
                <div class="contenedor-input">
                    <input 
                        type="email" 
                        placeholder="Mail" 
                        required
                        formControlName="mail"
                        [class.invalid-input]="formPacienteEnviado && formularioPaciente.get('mail')?.invalid"
                        >
                </div>
                
                <!-- Contrasenia -->
                <div class="contenedor-input">
                    <input 
                        type="password" 
                        placeholder="Contraseña"
                        required
                        formControlName="contrasenia"
                        [class.invalid-input]="formPacienteEnviado && formularioPaciente.get('contrasenia')?.invalid"
                        >
                </div>

                <div class="fila-arriba">
                    <!-- Foto -->
                    <div class="contenedor-input">
                        <input 
                            type="file" 
                            class="custom-file-input" 
                            required
                            formControlName="foto1"
                            id="fotoPaciente1"
                            [class.invalid-input]="formPacienteEnviado && formularioPaciente.get('foto1')?.invalid"
                        >
                    </div>

                    <!-- Foto 2 -->
                    <div class="contenedor-input">
                        <input 
                        type="file" 
                        class="custom-file-input" 
                        required
                        formControlName="foto2"
                        id="fotoPaciente2"
                        [class.invalid-input]="formPacienteEnviado && formularioPaciente.get('foto2')?.invalid"
                        >
                    </div>
                </div>

                <!-- CAPTCHA -->
                <div class="fila-arriba">
                    <div class="contenedor-input">
                        <input [ngModelOptions]="{standalone: true}" type="text" class="form-control"
                        [(ngModel)]="captchaEscrito" (input)="validarCaptcha()"
                        [ngClass]="{'is-invalid': !captchaValido, 'is-valid': captchaValido}"
                        placeholder="CAPTCHA" style="height: 40%;"/>
                    </div>

                    <div class="flex-column" style="flex: 1;">
                        <p class="captcha" style="margin-top: 4.5%;">
                            {{ captcha }}
                        </p>
                    </div>
                </div>

                <input type="submit" class="button button-block" value="Registrar">
            </form>
        </div>

        <!-- Especialista -->
        <div  *ngIf="tipoFormulario === 1">
            <h1>Registro Especialista</h1>
            <form [formGroup]="formularioEspecialista" (ngSubmit)="onEspecialistaSubmit()">
                <!-- NOMBRE Y APELLIDO -->
                <div class="fila-arriba">
                    <div class="contenedor-input">
                        <input 
                            type="text" 
                            placeholder="Nombre" 
                            required 
                            formControlName="nombre"
                            [class.invalid-input]="formEspecialistaEnviado && formularioEspecialista.get('nombre')?.invalid"
                        >
                    </div>

                    <div class="contenedor-input">
                        <input 
                            type="text" 
                            placeholder="Apellido" 
                            required
                            formControlName="apellido"
                            [class.invalid-input]="formEspecialistaEnviado && formularioEspecialista.get('apellido')?.invalid"
                        >
                    </div>
                </div>

                <!-- DNI Y Edad -->
                <div class="fila-arriba">
                    <div class="contenedor-input">
                        <input 
                            type="number" 
                            placeholder="DNI"
                            required 
                            formControlName="dni"
                            [class.invalid-input]="formEspecialistaEnviado && formularioEspecialista.get('dni')?.invalid"
                         >
                    </div>

                    <div class="contenedor-input">
                        <input 
                            type="number" 
                            placeholder="Edad" 
                            required
                            formControlName="edad"
                            [class.invalid-input]="formEspecialistaEnviado && formularioEspecialista.get('edad')?.invalid"
                        >
                    </div>
                </div>

                <!-- Especialidad -->
                <div class="fila-arriba">
                    <div class="contenedor-input">
                        <mat-form-field style="background-color: #ffffff00 important; ">
                            <mat-label>Especialidades</mat-label>
                            <mat-select formControlName="especialidades" multiple>
                                
                                <mat-option *ngFor="let esp of especialidades" [value]="esp">{{esp}}</mat-option>
    
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="contenedor-input">
                        
                        <input placeholder="Agregar especialidad" matInput type="text" #especialidadInput>

                        <button type="button" matSuffix mat-icon-button aria-label="Clear" (click)="agregarEspecialidad(especialidadInput.value)">
                        <mat-icon style="color: white;" fontIcon="arrow_upward"></mat-icon>
                        </button>

                    </div>
                </div>

                 <!-- Mail -->
                <div class="contenedor-input">
                    <input 
                        type="email" 
                        placeholder="Mail" 
                        required
                        formControlName="mail"
                        [class.invalid-input]="formEspecialistaEnviado && formularioEspecialista.get('mail')?.invalid"
                    >
                </div>
                
                <!-- Contrasenia -->
                <div class="contenedor-input">
                    <input 
                        type="password" 
                        placeholder="Contraseña" 
                        required
                        formControlName="contrasenia"
                        [class.invalid-input]="formEspecialistaEnviado && formularioEspecialista.get('contrasenia')?.invalid"
                    >
                </div>

                <!-- Foto -->
                <div class="contenedor-input">
                    <input 
                    type="file" 
                    class="custom-file-input" 
                    required
                    formControlName="foto"
                    [class.invalid-input]="formPacienteEnviado && formularioEspecialista.get('foto')?.invalid"
                    id="fotoEspecialista"
                    >
                </div>

                <!-- CAPTCHA -->

                <div class="fila-arriba">
                    <div class="contenedor-input">
                        <input [ngModelOptions]="{standalone: true}" type="text" class="form-control"
                        [(ngModel)]="captchaEscrito" (input)="validarCaptcha()"
                        [ngClass]="{'is-invalid': !captchaValido, 'is-valid': captchaValido}"
                        placeholder="CAPTCHA" style="height: 40%;"/>
                    </div>

                    <div class="flex-column" style="flex: 1;">
                        <p class="captcha" style="margin-top: 4.5%;">
                            {{ captcha }}
                        </p>
                    </div>

                </div>

                <input type="submit" class="button button-block" value="Registrar">
            </form>
        </div>

        <!-- ADMINISTRADOR -->

        <div *ngIf="tipoFormulario === 2">
            <h1>Registro Administrador</h1>
            <form [formGroup]="formularioAdministrador" (ngSubmit)="onAdministradorSubmit()">

                <!-- NOMBRE Y APELLIDO -->
                <div class="fila-arriba">
                    <div class="contenedor-input">
                        <input 
                            type="text" 
                            placeholder="Nombre" 
                            required 
                            formControlName="nombre"
                            [class.invalid-input]="formAdministradorEnviado && formularioAdministrador.get('nombre')?.invalid"
                        >
                    </div>

                    <div class="contenedor-input">
                        <input 
                            type="text" 
                            placeholder="Apellido" 
                            required
                            formControlName="apellido"
                            [class.invalid-input]="formAdministradorEnviado && formularioAdministrador.get('apellido')?.invalid"
                        >
                    </div>
                </div>

                <!-- DNI Y Edad -->
                <div class="fila-arriba">
                    <div class="contenedor-input">
                        <input 
                            type="number" 
                            placeholder="DNI" 
                            required 
                            formControlName="dni"
                            [class.invalid-input]="formAdministradorEnviado && formularioAdministrador.get('dni')?.invalid"
                        >
                    </div>

                    <div class="contenedor-input">
                        <input 
                            type="number" 
                            placeholder="Edad" 
                            required
                            formControlName="edad"
                            [class.invalid-input]="formAdministradorEnviado && formularioAdministrador.get('edad')?.invalid"
                        >
                    </div>
                </div>

                <!-- Mail -->
                <div class="contenedor-input">
                    <input 
                        type="email" 
                        placeholder="Mail" 
                        required
                        formControlName="mail"
                        [class.invalid-input]="formAdministradorEnviado && formularioAdministrador.get('mail')?.invalid"
                        >
                </div>
                
                <!-- Contrasenia -->
                <div class="contenedor-input">
                    <input 
                        type="password" 
                        placeholder="Contraseña"
                        required
                        formControlName="contrasenia"
                        [class.invalid-input]="formAdministradorEnviado && formularioAdministrador.get('contrasenia')?.invalid"
                        >
                </div>

                <!-- Foto -->
                <div class="contenedor-input">
                    <input 
                        type="file" 
                        class="custom-file-input" 
                        required
                        formControlName="foto"
                        id="fotoAdmin"
                        [class.invalid-input]="formAdministradorEnviado && formularioAdministrador.get('foto')?.invalid"
                    >
                </div>

                <div class="fila-arriba">
                    <div class="contenedor-input">
                        <input [ngModelOptions]="{standalone: true}" type="text" class="form-control"
                        [(ngModel)]="captchaEscrito" (input)="validarCaptcha()"
                        [ngClass]="{'is-invalid': !captchaValido, 'is-valid': captchaValido}"
                        placeholder="CAPTCHA" style="height: 40%;"/>
                    </div>

                    <div class="flex-column" style="flex: 1;">
                        <p class="captcha" style="margin-top: 4.5%;">
                            {{ captcha }}
                        </p>
                    </div>

                </div>

                <input type="submit" class="button button-block" value="Registrar">
            </form>
        </div>
    </div>
</div>



