<div class="example-button-container">
  <button mat-fab matTooltip="Primary" color="primary" style="margin-top: 30px; margin-left: 30px;" (click)="backButton()">
    <mat-icon>subdirectory_arrow_left</mat-icon>
  </button>
</div>
<div *ngIf="usuario.tipo == 'admin' && !paciente" style="display: flex; justify-content: space-around; margin-bottom: 30px;">
  <div class="contenedor-pacientes" *ngFor="let paciente of listaPacientes">
    <div style="display: flex; justify-content: center">
      <img class="img-perfil" src="{{paciente.foto1}}" alt="imagen 1" />
      <img class="img-perfil"  src="{{ paciente.foto2 }}" alt="imagen 2"/>
    </div>
      <h4 class="text-white">Nombre: {{paciente.nombre}} {{paciente.apellido}}</h4>
      <h4 class="text-white">DNI: {{paciente.dni}}</h4>
      <h4 class="text-white">Mail: {{paciente.mail}}</h4>

      <div >
          <br>
          <button 
            class="btn btn-info" 
            (click)="seleccionarPaciente(paciente)"
          >Agregar turno</button>
      </div>
  </div>
</div>

<div *ngIf="!especialidadSeleccionada && paciente" style="display: flex; justify-content: space-around; margin-bottom: 30px;">
  <div *ngFor="let especialidad of listaEspecialidades" class="contenedor-pacientes" (click)="seleccionarEspecialidad(especialidad)">
    <div style="display: flex; justify-content: center">
      <img class="img-perfil" src="{{especialidad.foto}}"/>
    </div>
    <h1 class="text-white" style="text-align: center;">{{especialidad.especialidad}}</h1>
  </div>
</div>

<div *ngIf="especialidadSeleccionada && !especialistaSeleccionado" style="display: flex; justify-content: space-around; margin-bottom: 30px;" >
  <div class="contenedor-pacientes" *ngFor="let especialista of listaEspecialistasFiltrada" (click)="seleccionarEspecialista(especialista)">
    <div style="display: flex; justify-content: center">
      <img class="img-perfil" src="{{especialista.foto}}" alt="imagen 1" />
    </div>
      <h4 class="text-white">Nombre: {{especialista.nombre}} {{especialista.apellido}}</h4>
  </div>
</div>

<div *ngIf="especialistaSeleccionado" class="contenedor-formularios" >
  <div style="display: flex; flex-direction: column; justify-content: center;" >
    <div>
      <button 
        mat-raised-button 
        *ngFor="let fecha of listaFechas"
        (click)="seleccionarFecha(fecha)"
        [class.selected]="fecha === fechaSeleccionada"
      > 
        {{fecha | date:'dd/MM'}} 
      </button>
    </div>

    <br>

    <div style="display: flex; flex-wrap: wrap; justify-content: center;" >
      <button 
        mat-raised-button 
        style="width: 80px;" 
        *ngFor="let boton of listaBotones"
        (click)="seleccionarBoton(boton)"
        [class.selected]="boton === botonSeleccionado"
        [disabled]="!fechaSeleccionada"
        > 
        {{boton}} 
      </button>
    </div>
  
  <!-- [disabled]="esTurnoAsignado(boton, especialistaSeleccionado)" -->

    <br>
    <div style="display: flex;justify-content: flex-end;">
      <button 
      mat-raised-button 
      style="background-color: #1ab188;" 
      [disabled]="!fechaSeleccionada || !botonSeleccionado"
      (click)="confirmarTurno(especialistaSeleccionado)">
        Confirmar Turno
      </button>
      
    </div>
  </div>
</div>
  