<!-- PACIENTE -->

<div class="contenedor-formularios" *ngIf="tipoUsuario === 'paciente'">
    <h3 class="text-white">Mi Perfil</h3>
    <div style="display: flex; justify-content: center">
      <img class="img-perfil" src="{{usuario.foto1}}" alt="imagen 1" />
      <img class="img-perfil"  src="{{ usuario.foto2 }}" alt="imagen 2"/>
    </div>
    <div class="row" >
        <div class="col text-white">
          <label>Nombre</label>
          <p>{{ usuario?.nombre }}</p>
          <label>Apellido</label>
          <p>{{ usuario?.apellido }}</p>
          <label>Edad</label>
          <p>{{ usuario?.edad }} años</p>
          <label>DNI</label>
          <p>{{ usuario?.dni }}</p>
        </div>
        <div class="col text-white">
          <label>Correo</label>
          <p>{{ usuario?.mail }}</p>
          <label>Obra Social</label>
          <p>{{ usuario?.obraSocial }}</p>
          <label>Perfil</label>
          <p>Paciente</p>
          <label>Historial Clínico</label>
          <br/>
          <p *ngIf="!listaHistorialClinico">Aun no posee historial medico</p>
          <button class="btn btn-info" *ngIf="listaHistorialClinico" data-bs-toggle="modal" data-bs-target="#exampleModal"> Ver </button>
        </div>
      </div>
</div>

<!-- ESPECIALISTA -->
<div class="contenedor-formularios" *ngIf="tipoUsuario === 'especialista'">
  <h3 class="text-white">Mi Perfil</h3>
  <div style="display: flex; justify-content: center">
    <img class="img-perfil" src="{{usuario.foto}}" />
  </div>
  <div class="row">
    <div class="col col-3 text-white" >
      <label>Nombre</label>
      <p>{{ usuario?.nombre }}</p>
      <label>Apellido</label>
      <p>{{ usuario?.apellido }}</p>
      <label>Edad</label>
      <p>{{ usuario?.edad }} años</p>
      <label>DNI</label>
      <p>{{ usuario?.dni }}</p>
    </div>
    <div class="col col-4 text-white">
      <label>Correo</label>
      <p>{{ usuario?.mail }}</p>
      <label>Especialidades</label>
      <p *ngFor="let esp of usuario.especialidades" style="margin-bottom: 0;">{{esp.tipo}}</p>
    </div>
    <div style="display: flex; flex-direction: column;">

      <mat-form-field>
        <mat-label>Especialidad</mat-label>
        <mat-select [(value)]="espSeleccionada">
          <mat-option *ngFor="let esp of listaEspecialidades" [value]="esp">{{ esp.tipo }}</mat-option>
        </mat-select>
      </mat-form-field>

        <div style="display: flex; justify-content: center;">
          <button *ngFor="let boton of botonesDias" class="btn btn-success dias-button" [ngClass]="obtenerClaseDia(boton.numero)" (click)="agregarDia(boton.numero)">{{boton.dia}}</button>
        </div>
        <button class="btn btn-info btn-block" style="margin-top: 30px; width: 220px;" (click)="actualizarCalendario()">Subir calendario</button>

    </div>
</div>
</div>

<!-- ADMINISTRADOR -->

<div class="contenedor-formularios" *ngIf="tipoUsuario === 'admin'">
  <div class="row" >
    <div class="col">
      <label>Nombre</label>
      <p>{{ usuario?.nombre }}</p>
      <label>Apellido</label>
      <p>{{ usuario?.apellido }}</p>
      <label>Edad</label>
      <p>{{ usuario?.edad }} años</p>
    </div>
    <div class="col">
      <label>DNI</label>
      <p>{{ usuario?.dni }}</p>
      <label>Correo</label>
      <p>{{ usuario?.mail }}</p>
      <label>Tipo de Usuario</label>
      <p>Administrador</p>
    </div>
  </div>
</div>


<!-- VER HISTORIAL CLINICO -->

<div class="modal fade modal-xl" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">

        <div id="pdf">

          <div class="modal-header" style="display: flex; justify-content: space-between;">

            <div style="display: flex; align-items: center;">
              <img src="../../../assets/logo.png" style="width: 130px;" alt="img" />
              <h2 style="
                  font-size: 1.5rem;
                  font-weight: bolder;
                " id="exampleModalLabel">
                CLÍNICA ONLINE
              </h2>
            </div>
            
            <p style="text-align: right; font-size: 1rem">
              {{ fechaActual  | date:'dd/MM/yyyy'}}
            </p>

          </div>
          <div class="modal-body">
            <!-- <div style="margin-bottom: 1rem;">
              <label style="font-size: 1rem; font-weight: bolder; margin-right: 2rem">FILTROS:</label>
              <button class="btn" [ngClass]="btnTodo ? 'btn-success' : 'btn-warning'" style="margin-right: 1rem"
                (click)="filtrarHistorialClinico('todo')">
                TODO
              </button> 
              <div *ngFor="let especialidad of listaEspecialidades" class="d-inline-block">
                <button class="btn" [ngClass]="isEspecialidadSelected(especialidad) ? 'btn-success' : 'btn-warning'"
                  style="margin-right: 1rem" (click)="filtrarHistorialClinico(especialidad)">
                  {{ especialidad }}
                </button>
              </div>
            </div> -->
          
            
            
            <h2 style="text-align: center; font-size: 2rem">
              HISTORIAL CLÍNICO DE
              <span style="text-transform: uppercase; font-weight: bolder">{{ usuario?.apellido }} {{ usuario?.nombre
                }}</span>
            </h2>
            <h3 *ngIf="!listaHistorialClinico" style="text-align: center; color: #f00">
              No existe historial clínico de esta especialidad
            </h3>
            <div *ngFor="let historial of listaHistorialClinico" class="carta-historial">
              <h3 class="text-black" >
                {{ historial.especialidad }}
              </h3>
              <p class="text-black">
                <span>- Especialista: </span>{{ historial?.especialista?.apellido }},
                {{ historial?.especialista?.nombre }}
              </p>
              <p class="text-black"><span>- Detalle: </span></p>
              <p class="text-black">Altura: {{ historial?.detalle?.altura }}</p>
              <p class="text-black">Peso: {{ historial?.detalle?.peso }}</p>
              <p class="text-black">Temperatura: {{ historial?.detalle?.temperatura }}</p>
              <p class="text-black">Presión: {{ historial?.detalle?.presion }}</p>
              <div *ngIf="historial.datalleAdicional">
                <p class="text-black" ><span>- Detalles adicionales: </span></p>
                <p class="text-black" *ngIf="historial?.datalleAdicional?.clave1">
                  {{ historial?.datalleAdicional?.clave1 }}:
                  {{ historial?.datalleAdicional?.valor1 }}
                </p>
                <p class="text-black" *ngIf="historial?.datalleAdicional?.clave2">
                  {{ historial?.datalleAdicional?.clave2 }}:
                  {{ historial?.datalleAdicional?.valor2 }}
                </p>
                <p class="text-black" *ngIf="historial?.datalleAdicional?.clave3">
                  {{ historial?.datalleAdicional?.clave3 }}:
                  {{ historial?.datalleAdicional?.valor3 }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">

          <button type="button" class="btn btn-danger"  (click)="crearPDF()">
            Descargar PDF
          </button>

        </div>


      </div>
    </div>
  </div>